*{
    font-family: 'poppins', sans-serif;

}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    background:linear-gradient(72deg, #BF9460 1%, #4184BF 99%)

}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3%;

}

.navagation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #ffffff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover{
    background-color: #fff;
}
input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}


.traco{
    display: inline-block;
    position: relative;
}

.traco::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #f7f3f3;
    transform-origin: bottom right ;
    transition: transform 0.5s ease-out;
}

.traco:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav{
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    
}

.container{
    position: absolute;
}

.container .idioma{
    display: none;
}